<?xml version="1.0" encoding="utf-8" ?>
<!-- Database will be created by application -->
<!--<configuration>
  <appSettings>
    <add key="Server" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Username" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Password" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Database" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Token" value="JUd2cq31l8jLSR8915z7dIsMLET1tE4QrhboLdc3" />
    <add key="isFirtsRun" value="rAqokpdTAbvxP70QUQT4rK8IK9nmJCyjrrPQprKcFeeJXrf85UDyeXPGOR5wGdcOuC99Gfnw3pMLmQnooWniEHGAv3qaHUnlHpuvkxau8zuv1oJuQqpFQcNZTrMKPQBn" />
    <add key="HasConnectionString" value="nQshh60iIc3fxVtxES7GLOOJSu8Fz9mwBWyTZzEJ7HBn/wA1l/GPQeMrX+SXviLufU4UoBZjYpEnGLlfMjNGC9JtK2NIqqUyhGZlV6HI6EzhZH8od0Le+B0SG4dloD7Y" />
    <add key="HasDatabase" value="nQshh60iIc3fxVtxES7GLOOJSu8Fz9mwBWyTZzEJ7HBn/wA1l/GPQeMrX+SXviLufU4UoBZjYpEnGLlfMjNGC9JtK2NIqqUyhGZlV6HI6EzhZH8od0Le+B0SG4dloD7Y" />
    <add key="HasDefaultUser" value="nQshh60iIc3fxVtxES7GLOOJSu8Fz9mwBWyTZzEJ7HBn/wA1l/GPQeMrX+SXviLufU4UoBZjYpEnGLlfMjNGC9JtK2NIqqUyhGZlV6HI6EzhZH8od0Le+B0SG4dloD7Y" />
  </appSettings>
</configuration>-->

<!-- With ready database (inventory_management) -->
<configuration>
  <appSettings>
    <add key="Server" value="lQYMMl1X2riHWyDk2lHv/ZggP0ycbl10Qs4pT7s8Vv71WpnPlpYA+nTAmsq/POjH1JgxqVDdIvlz2HmlGq5xqw1c+R5w1Xxu9MXi6neEe1Ad+9ERAZdGTUkRTvWMkA8m" />
    <add key="Username" value="ZxGL3c2QqL6ZKr9US5EYE7y70jIdSGE6FIYOmcQtlvlVUKkAyMLJvE+hEZK4XBMPa+ENUR9YAB+pHY256r8z+X2q8Vhds+Ax+M7QfDrw5EP00G+et6Ia1L7eGScsyCPr" />
    <add key="Password" value="hDLUO8UXQlhg4ciLYNNrGtVM7utmIZHxmm8kEMp1xdwkHN6D5Yr+zxw7p2IqYPKP8g6873GY+oQtbioThFqMWkg5Lchl0u4vveBILsknRGXwcqIef8Ayty50tiiGZCyU" />
    <add key="Database" value="xgTW9k7hQLIQVVIOMTcNkVS2C/XFWY0Uud6uhUEKuxVegu3XI41zOOGQ0xsqOBv7ETcIxo2/2c70Mxo7OXFRcJFQxOQ0/Va9AFDDjBWzACLk103Oz6O7pKo2ECeFw1IO" />
    <add key="Token" value="JUd2cq31l8jLSR8915z7dIsMLET1tE4QrhboLdc3" />
    <add key="isFirtsRun" value="S5PJQv0Mkv00CwIeUPtbbppx+7eIpCaMiSCz4M5qog8+CVQmxDGAN7W0eB7AfS/BU89L6KdQI6iyxxRpD8laeLJYvm+kUV85+gl5BW++SdA/hzFAFvmyJ135sQbxLDBQ" />
    <add key="HasConnectionString" value="hlfo0S1ZquBsqzif+27KVTbhhDDwdVLZeCOzZJ6mqBGYbuIJIc9zGdydZdcNTSAgN9u1J4fEVuR/nyTx9XON3GRo9YOMhMOHEniadApuubyfXE0Q2y3mX+p6cImK4zuQ" />
    <add key="HasDatabase" value="sQv3RLhvsfqFRyNj45a2gD9pqwUweKJkgj+CQw20m/G7xn4cMBxjT0rYCa6wq48GZssBXrzJmO7jNwgCtxGQySyIbkS08i/wsTO1iaCN2V/KiNz97VCLnMmHxeQFYe3R" />
    <add key="HasDefaultUser" value="MOOdwvTJpfMigovMR81uMmcBxnLWm+vq/cab8W32Iphq1M/vmRvHFue4Yqry882AKkl7Mcr2UGgb7Scj3ze9Fs0PiTsMIl1AYCey/cI30I61jHQK8dGLYcH+YP4pfMIv" />
  </appSettings>
</configuration>

