<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Username" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Password" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Database" value="0dOVnTNhYQTQ7hVMtEuKCEwuO5o//ceEnMkdFwapFhT47B+i4C9nqDjQ3DzTRwMoWJtRjv9By4D7m93uqw5CVEE3Q1V/jG2e6bFGbj+QyeNoFjbID/uNdDVvfq0wkxQ6"/>
    <add key="Token" value="JUd2cq31l8jLSR8915z7dIsMLET1tE4QrhboLdc3" />
    <add key="isFirtsRun" value="rAqokpdTAbvxP70QUQT4rK8IK9nmJCyjrrPQprKcFeeJXrf85UDyeXPGOR5wGdcOuC99Gfnw3pMLmQnooWniEHGAv3qaHUnlHpuvkxau8zuv1oJuQqpFQcNZTrMKPQBn" />
    <add key="HasConnectionString" value="nQshh60iIc3fxVtxES7GLOOJSu8Fz9mwBWyTZzEJ7HBn/wA1l/GPQeMrX+SXviLufU4UoBZjYpEnGLlfMjNGC9JtK2NIqqUyhGZlV6HI6EzhZH8od0Le+B0SG4dloD7Y" />
    <add key="HasDatabase" value="nQshh60iIc3fxVtxES7GLOOJSu8Fz9mwBWyTZzEJ7HBn/wA1l/GPQeMrX+SXviLufU4UoBZjYpEnGLlfMjNGC9JtK2NIqqUyhGZlV6HI6EzhZH8od0Le+B0SG4dloD7Y" />
    <add key="HasDefaultUser" value="nQshh60iIc3fxVtxES7GLOOJSu8Fz9mwBWyTZzEJ7HBn/wA1l/GPQeMrX+SXviLufU4UoBZjYpEnGLlfMjNGC9JtK2NIqqUyhGZlV6HI6EzhZH8od0Le+B0SG4dloD7Y" />
  </appSettings>
</configuration>